*.log
*.wav
*.mp3
*.ogg
*.onnx
/.venv/
/venv/
/models/vosk-model-ru/
/models/vosk-model-small-streaming-ru/
/models/giga-am-russian/
/models/GigaAMv2_CTC_RU_ASR_for_sherpa_onnx/
/models/ruT5-ASR-large/
/models/sherpa-onnx-whisper-large-v3/
/models/sherpa-onnx-whisper-medium/
/models/sherpa-onnx-whisper-small/
/trash/test_data.py
