setuptools

httpx~=0.28.1
pathlib~=1.0.1
ujson~=5.10.0
numpy

uvicorn~=0.34.0
fastapi~=0.115.8
pydantic~=2.10.6
websockets~=14.2
jinja2
python-multipart

soundfile
# vosk
pydub~=0.25.1
webrtcvad~=2.0.10

tqdm
psutil

# For ASR
#sherpa-onnx
-f https://k2-fsa.github.io/sherpa/onnx/cuda.html
sherpa-onnx==1.11.2+cuda

# For punctuation
# torch
transformers
onnxruntime
onnxruntime-gpu

# sentencepiece

