httpx
pathlib
ujson
setuptools


uvicorn
fastapi
pydantic
websockets

soundfile
# vosk
pydub
webrtcvad

tqdm
psutil

#sherpa-onnx
-f https://k2-fsa.github.io/sherpa/onnx/cuda.html
sherpa-onnx==1.10.43+cuda

# torch
# sentencepiece
# transformers

numpy



